@page "/"
@using OMM.Desktop.Data.OsuDataProvider
@using OMM.Desktop.Data.OmmApi
@using OMM.Desktop.Data.Settings
@inject OsuDataProvider OsuDataProvider
@inject OmmApiService OmmApi
@implements IDisposable

<div class="@Bem.Base()">
    <MapImage SongSelection="@songSelection" MapAvailable="mapAvailable" />
    <div class="@Bem.Element("search-container")">
        <span class="@Bem.Element("search-container-label")">
            Custom Search
        </span>
        <IconButton Text="Find matching maps"
                    IconName="fa-search"
                    Style="fas"
                    RootClass="@Bem.Element("search-button", availableFlag)"
                    OnClick="HandleSearchClick" />
        <FilterChips FilterClass="@Filter" OnChange="HandleChipChange" />
    </div>
    @foreach (var map in this.mapMatches)
    {
        <MapMatchTile MapMatch="map" />
    }
    <ErrorMessage ErrorMessages="errorMessages" />
</div>

@code{
    private Bem Bem = new Bem("view-index");

    private SongSelectionChangedEventArgs songSelection = null;

    private List<MapMatch> mapMatches = new List<MapMatch>();

    private List<string> errorMessages = new List<string>();

    private bool mapAvailable = true;

    private string availableFlag => mapAvailable ? null : "unavailable";

    private OmmApiFilterDto Filter = new OmmApiFilterDto
    {
        Count = 10,
    };

    protected override void OnInitialized()
    {
        OsuDataProvider.SongChanged += this.SongChanged;
    }

    public void Dispose()
    {
        OsuDataProvider.SongChanged -= this.SongChanged;
    }

    private async void HandleSearchClick()
    {
        if (!this.mapAvailable)
            return;

        var mapsOrErrors = await OmmApi.GetMapMatches(songSelection?.BeatmapId, Filter.Count);
        if (mapsOrErrors.TryGetLeftValue(out var maps))
        {
            this.mapMatches = maps;
            await InvokeAsync(() => base.StateHasChanged());
            return;
        }

        this.errorMessages = mapsOrErrors.Right;
    }

    private async void SongChanged(object sender, Either<SongSelectionChangedEventArgs, List<string>> args)
    {
        if (!args.TryGetLeftValue(out var song))
        {
            this.errorMessages = args.Right;
            await InvokeAsync(() => base.StateHasChanged());
            return;
        }

        this.songSelection = song;

        this.mapAvailable = OmmApiService.AvailableMaps.Contains(this.songSelection.BeatmapId);

        await InvokeAsync(() => base.StateHasChanged());
    }

    private void HandleChipChange(object o)
    {
        this.Filter = o as OmmApiFilterDto;
    }
}