@page "/"
@using OMM.Desktop.Data.OsuDataProvider
@using OMM.Desktop.Data.OmmApi
@inject OsuDataProvider OsuDataProvider
@inject OmmApiService OmmApi

<div class="@Bem.Base()">
    <MapImage SongSelection="@songSelection" />
    <div class="@Bem.Element("search-container")">
        <span class="@Bem.Element("search-container-label")">
            Custom Search
        </span>
        <IconButton Text="Find matching maps"
                    IconName="fa-search"
                    Style="fas"
                    RootClass="@Bem.Element("search-button")"
                    OnClick="HandleSearchClick" />

    </div>
    @foreach (var map in this.MapMatches)
    {
        <MapMatchTile MapMatch="map" />
    }
</div>

@code{
    private Bem Bem = new Bem("view-index");

    private SongSelectionChangedEventArgs songSelection = null;

    private List<MapMatch> MapMatches = new List<MapMatch>();

    protected override void OnInitialized()
    {
        // Subscription to table record change events
        OsuDataProvider.SongChanged += this.SongChanged;
    }

    private async void HandleSearchClick()
    {
        this.MapMatches = await OmmApi.GetMapMatches(2142695, 5);
        await InvokeAsync(() => base.StateHasChanged());
    }

    private async void SongChanged(object sender, SongSelectionChangedEventArgs e)
    {
        this.songSelection = e;

        await InvokeAsync(() => base.StateHasChanged());
    }
}