@page "/"
@using OMM.Desktop.Data.OsuDataProvider
@inject OsuDataProvider OsuDataProvider

<div class="@Bem.Base()">
    <MapImage SongSelection="@songSelection" />
    <div class="@Bem.Element("search-container")">
        <span class="@Bem.Element("search-container-label")">
            Custom Search
        </span>
        <IconButton Text="Search similar" 
            IconName="fa-search" 
            Style="fas" 
            RootClass="@Bem.Element("search-button")"
            OnClick="HandleSearchClick"
        />
    </div>
</div>

@code{
    private Bem Bem = new Bem("view-index");

    private SongSelectionChangedEventArgs songSelection;

    protected override void OnInitialized()
    {
        // Subscription to table record change events
        OsuDataProvider.SongChanged += this.SongChanged;
    }

    private void HandleSearchClick()
    {
        Console.WriteLine("sdkjsdfjkasdföl");
    }

    private async void SongChanged(object sender, SongSelectionChangedEventArgs e)
    {
        this.songSelection = e;

        await InvokeAsync(() => base.StateHasChanged());
    }
}
