<div class="@Bem.Base(errorFlag)">
    <i class="fas fa-exclamation-triangle @Bem.Element("icon")"></i>
    <div class="@Bem.Element("body")">
        @foreach (var message in ErrorMessages)
        {
            <span>@message</span>
        }
    </div>
    <div class="@Bem.Element("footer")">
        <IconButton Text="OK"
                    IconName="fa-check-circle"
                    Style="fas"
                    RootClass="@Bem.Element("ok-button")"
                    OnClick="HandleCloseClick" />
    </div>
</div>

@code {
    private Bem Bem = new Bem("component-error-message");

    [Parameter]
    public IEnumerable<string> ErrorMessages { get; set; } = Enumerable.Empty<string>();

    private bool showOverlay = false;

    private string errorFlag => this.showOverlay ? "error" : null;

    protected override void OnParametersSet()
    {
        this.showOverlay = this.ErrorMessages.Count() != 0;
    }

    private void HandleCloseClick()
    {
        this.showOverlay = false;
        this.ErrorMessages = Enumerable.Empty<string>();
    }
}
