@using OMM.Desktop.Data.OmmApi
@using OMM.Desktop.Content.Components.Expander

<div class="@Bem.Base()">
    <Expander OnExpand="Test">
        <Header>
            <img class="@Bem.Element("preview-image", expandedFlag)"
                 src="@imageSource"
                 loading="lazy" />
            <div class="@Bem.Element("map-metadata")">
                <span>@MapMatch?.Artist - @MapMatch?.Title</span>
                <span>[@MapMatch?.DifficultyName]</span>
            </div>
        </Header>
        <Body>
            Body
        </Body>
        <Footer>
            <IconButton Text="osu!direct"
                        IconName="fa-download"
                        Style="fas"
                        RootClass="@Bem.Element("button-osu-direct")"
                        Href="@osuDirect"/>
            <IconButton Text="More Info"
                        IconName="fa-external-link-alt"
                        Style="fas"
                        RootClass="@Bem.Element("button-map-info")"
                        Href="@mapURL"/>
        </Footer>
    </Expander>
</div>

@code {
    private Bem Bem = new Bem("component-map-match");

    [Parameter]
    public MapMatch MapMatch { get; set; } = null;

    public bool isExpanded { get; set; } = false;
    private string expandedFlag => isExpanded ? "expanded" : null;

    private string imageSource => $"https://assets.ppy.sh/beatmaps/{this.MapMatch.BeatmapsetId}/covers/list.jpg";

    private string osuDirect => $"osu://b/{this.MapMatch.BeatmapId}";

    private string mapURL => $"https://osu.ppy.sh/b/{this.MapMatch.BeatmapId}";

    private void Test()
    {
        isExpanded = !isExpanded;
    }
}