@page "/settings"
@using OMM.Desktop.Data.Settings
@inject ISettings Preference
@inject IJSRuntime JS

<div class="@Bem.Block()">
    <h3>Settings</h3>
    <EditForm Model="@Preference.UserSettings" OnValidSubmit="HandleFormSubmit">
        <div class="@Bem.Element("form")">
            <ValidationSummary />
            <label class="@Bem.Element("form-row")">
                Prefer original Language
                <InputCheckbox @bind-Value="@Preference.UserSettings.PrefersUnicode" />
            </label>
            <label class="@Bem.Element("form-row")">
                Shutdown server if all tabs are closed
                <InputCheckbox @bind-Value="@Preference.UserSettings.ExitOnAllTabsClosed" />
            </label>
            <label class="@Bem.Element("form-row")">
                Hide map results coming from the same BeatmapSet
                <InputCheckbox @bind-Value="@Preference.UserSettings.HideResultWithSameBeatmapId" />
            </label>
            <label class="@Bem.Element("form-row")">
                Volume
                <InputNumber @bind-Value="@Preference.UserSettings.Volume" />
            </label>
            <label class="@Bem.Element("form-row")">
                Song path*
                <InputText @bind-Value="@Preference.UserSettings.SongFolderPath" />
            </label>
        </div>
        <IconButton Text="Save"
                    IconName="fa-save"
                    Style="fas"
                    RootClass="@Bem.Element("button-map-info")"
                    ButtonType="submit" />
        <div class="@Bem.Element("info")">*Requires restart</div>
        <DataAnnotationsValidator />
        <div class="@Bem.Element("me")">
            Made by <a class="@Bem.Element("osu-profile")" href="https://osu.ppy.sh/users/13960406">Xarib</a>
        </div>
    </EditForm>
</div>

@code {
    private Bem Bem = new Bem("view-settings");

    private async void HandleFormSubmit()
    {
        Preference.Save();
        await JS.InvokeVoidAsync("alert", "Saved changes");
    }
}
